.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	gap: 1rem;
	padding: 0 32px;
}

.card {
	min-height: 12rem;
	border: 1px solid #000;
	background: rgb(255 255 255 / 30%);
}
