.grid {
	display: grid;
	grid-template-columns: repeat(
			auto-fill,
			minmax(min(var(--grid-minimum-column-width, 16rem), 100%), 1fr)
		);
	gap: 1rem;
}

.card {
	min-height: 12rem;
	border: 1px solid #000;
	background: rgb(255 255 255 / 30%);
}
